<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{nombreLista | placeholder: "Nueva Lista"}}</ion-title>

  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-item>
        <ion-label floating>Nombre de la lista</ion-label>
        <ion-input type="text" [(ngModel)]="nombreLista" name="nombreLista"></ion-input>
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label floating>Item</ion-label>
        <ion-input type="text" [(ngModel)]="nombreItem" name="nombreItem"></ion-input>
      </ion-item>
      <button ion-button full (click)="agregarItem()">
      <ion-icon name="add-circle"></ion-icon>
       Agregar item
    </button>

    </ion-card-content>
  </ion-card>

  <!-- items -->
  <ion-card *ngIf="items.length>0">
    <ion-card-header>
      items agregados
    </ion-card-header>

    <ion-card-content>
      <ion-list *ngFor="let item of items; let i=index">

        <ion-item>
          <button ion-button color="dark">
        {{item.nombre}}
        </button>
          <button ion-button float-right outline color="danger" (click)="eliminarItem(i)">
        <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
        ({{i}})
        </button>
        </ion-item>
      </ion-list>

    </ion-card-content>
  </ion-card>
  <button ion-button icon-left full (click)="guardarLista()">
  <ion-icon name="add-circle"></ion-icon>
   Agregar Lista
</button>

</ion-content>
