<ion-header>
  <ion-navbar color="primary">
    <ion-title>Pendientes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let lista of _listaDeseos.listas">
    <ion-item>
      !! Boton
    </ion-item>
    <h2> {{lista.nombre}} </h2>
    <ion-list>

      <ion-item *ngFor="let item of lista.items">
        <ion-icon ios="ios-arrow-dropright" md="md-arrow-dropright"></ion-icon>
        {{item.nombre}}
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="irAgregar()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
